*{
  box-sizing: border-box;
}




  .univ-logo {
    display: none;
  }
  .univ-name {
    margin-left: 10px;
  }
  .header-right li {
    font-size: 12px;

  }

  .header-right-bottom {

  display: none;
  }

  .fa-bars {
  color: white;
  position: absolute;
  top:30px;
  right: 10px;
  }


  .v-line {
    position: absolute;
    top:0;
    left:244px;
  }



  h2 {
    font-size: 45px;
    padding-left: 30px;
  }
  h3 {
    font-size: 35px;
    padding-left: 30px;
    padding-top:10px;
  }
 .circle {
   position:absolute;
   top:500px;
   left: 75px;
 }

  .circle img {
    height: 200px;
    width: 275px;
  }


  .youtube {
  position: absolute;
  left: 75px;
  top:800px;
  }

  .youtube iframe {
    height: 200px;
    width: 275px;
  }

  .goal {
    position: relative;
    bottom:550px;
    padding-top: 70px;
  }
  .mokuhyo p {
    font-size:20px;
  }

  .longer {
    font-size: 10px;
  }



.main-contents {
  padding-top: 110px;
}
.content {
  padding-top: 10px;


}

.content img {
height: 200px;
width:275px;
}

.sub-title {
  font-size: 30px;
  padding-right: 20px;
}


.footer-lists {
  display:none;
  float:left;
position:absolute;
  left:15px;
  

}
.footer-list p {
  font-size: 12px;
}

.footer-list-item a {
  font-size:7px;
}
